body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10em;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: 0.3s;
    left: 0%;
  }

#navIcon {
    font-size: 2em;
    position: absolute;
    transform: rotate(0deg);
    text-decoration: none;
    margin: 5px;
    margin-left: 75%;
    background: none;
    color: rgb(20, 31, 31);
    border: 0;
    transition: all 200ms;
}

#hidingButtons {
    margin-top: 40px;
    padding: 4px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

.mainText {
    margin-left: 12em;
    padding: 1px 16px;
    transition: 150ms;
}

.menuBtn {
    width: 60%;
    text-decoration: none;
    margin: 0.4em;
    padding: 0.55rem;
    text-transform: uppercase;
    background: none;
    color: rgb(22, 23, 27);
    border: 1px solid #ffffff;
    transition: all 200ms;
}

.menuBtn:hover {
    border: 1px solid #363b64;
}